.drum-pad {
    cursor: pointer;
    padding: 50px;
    margin: 10px;
    transition: 0.7s;
    color:green;
}
#display {
   
    width: 80%;
    color: red;
    text-align: center;
}


.playing {
    border: 2px solid green;

}
#drum-machine {
    background: white;
    color: green;
    display: grid;
    width: 100%;
    height: 100
 

}
body {
    background-color: white;
}

h5 {
    text-align: center;
}